body {
    background: #f6f6f6;
}

/* ======= SIDERBAR CONTENT =======  */

.panel_left {
    background: #fff;
    width: 260px !important;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
}

.wrapper-content .menuList::-webkit-scrollbar {
    width: 3px;
}

.wrapper-content .menuList::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    border-radius: 10px;
}

.header_siderbar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 24px 30px 0 18px;
}

.menuList .collapse.show {
    display: flex !important;
}

.menuList .collapsing {
    display: flex !important;
    transition: .35s ease !important;
}

.headerTitle {
    margin-left: 14px;
}

.wrapper-content .menuList {
    width: 100%;
    margin-top: 30px;
    height: calc(100vh - 90px);
    /* overflow-y: auto !important; */

}

.navMenuButton {
    width: 100%;
    color: var(--var-gray);
    text-decoration: none;
    padding: 15px 0 15px 40px;
    margin: 0 10px;
    border-radius: 5px;
}

.navMenuButton:hover {
    background: var(--var-primary);
}

.navMenuButton:hover .bi.bi,
.navMenuButton:hover span {
    color: #fff !important;
}

/* ======= END SIDERBAR CONTENT =======  */

/* ======= PANEL RIGHT BAR SECTION =======  */

.panel_right {
    width: calc(100% - 260px);
    margin: 70px 0 0 260px;
}

.panel_right .navbar {
    width: calc(100% - 260px);
    height: 70px;
    background: #fff;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 90;
}

.panel_right .dropdown-toggle.notification::after {
    display: none !important;
}

/* ======= END PANEL RIGHT BAR SECTION =======  */


/* DASHBOARD SECTION  */

.icon-dashboard-panel {
    width: max-content;
    padding: 15px;
    border-radius: 50%;
}

.card-footer.dashboard {
    background: #2bacfb;
    height: 7px !important;
    padding: 0;
}

.nav.nav-pills .nav-item a:hover {
    color: var(--var-primary) !important;
}

.nav.nav-pills .nav-item .nav-link.active {
    color: var(--var-primary) !important;
    border-bottom: 1px solid var(--var-primary) !important;
}

.tab-pane.height {
    min-height: 450px;
}

/* END DASHBOARD SECTION  */


/* CONTENT SECTION  */

.bar-chapter::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background: #efefef;
    top: 50%;
    right: -30px;
}

/* END CONTENT SECTION  */

/* CHAPTER SECTION  */


.upload_file_image {
    width: 100%;
    height: 410px;
}

#sortable {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
}

#sortable>div {
    float: left;
}

#sortable .ui-state-default {
    display: flex;
    position: relative;
    cursor: move;
    width: 120px;
    min-height: 185px;
    margin: 8px;
    border: solid 1px #cbcbcb;
}

#sortable .ui-state-default>button {
    position: absolute;
    z-index: 4;
    top: -10px;
    right: -10px;
    padding: 1px 4px;
}

#sortable .ui-state-default .item {
    width: 100%;
    height: 100%;
}


/* END CHAPTER SECTION  */

/* ===== CONFIRM UPDATE SECTION ===== */

.header-input-bg-banner{
    background-size: cover;
    height: 230px;
    background-position: center;
    object-fit: cover;
}

.header-input-bg-banner .char-preview img {
    width: 90%;
    height: 195px;
}

.body_confirm_detail {
    position: relative;
    top: -35px;
    width: 100%;
    min-height: 400px;
    background-color: white;
    border: 1px #ececec solid;
}


/* ===== END CONFIRM UPDATE SECTION ===== */


/* ===== LIST CHAPTER SECTION ===== */

.header_content_view h4 {
    width: 400px;
}

.table-left-align {
    margin-left: 0; 
    margin-right: auto; 
}

.title-chapter-limit {
    /* white-space: nowrap;  */
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;  
    text-overflow: ellipsis;
    width: 300px !important;

}



/* ===== END LIST CHAPTER SECTION ===== */

/* @media only screen and (max-width: 575px) {
    .chapter-section {
        width: 400px;
    }
} */


@media only screen and (max-width: 991px) {

    td {
        white-space: nowrap;
    }

    .panel_left {
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out !important;
        border-right: solid #f2f2f2 1px;
    }

    .row.dashboard {
        white-space: nowrap !important;
        overflow-x: auto !important;
    }

    .panel_right {
        width: 100% !important;
        margin-left: 0 !important;

    }

    .panel_right .navbar {
        width: 100% !important;
        left: 0;
    }

}

@media only screen and (max-width: 767px) {
    .pe-10 {
        padding-right: 17px !important;
    }

}

@media only screen and (max-width: 991px) {
    .description_sinopsis_all {
        width: 340px;
        white-space: initial;
    }

}

@media only screen and (min-width: 992px) {

    .panel_left {
        visibility: visible !important;
        transform: translateX(0) !important;
    }
    

}