:root {
    --var-gray: #565656;
    --var-primary: #ef6864;
    --var-soft-primary: #f49a97;
    --var-dark-primary: #df5954;
    --var-dark: #3b3f58;
    --var-black-75: #333333;
    --var-black-50: #5f5f5f;
}

.line-content {
    background: #fff;
    height: 1px;
    width: 16px;
    opacity: .5;
}

.front-title-header {
    font-size: 22px;
    position: relative;
    padding-left: 17px;
}

.front-title-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: var(--var-primary);
}

.hover-text-decoration:hover {
    text-decoration: underline !important;
}

.title-under-decoration {
    position: relative;
}

.title-under-decoration::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    border-radius: 10px;
    width: 21%;
    height: 4px;
    background-color: var(--var-primary);
}

.title-under-decoration::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 22%;
    border-radius: 10px;
    width: 4%;
    height: 4px;
    background-color: var(--var-primary);
}


/* ===== NAVBAR SECTION ===== */

.offcanvas.offcanvas-start {
    width: 340px !important;
}

.collapseSearchLarge {
    z-index: 5;
    top: -5px;
    right: 40px;
}

.__modal-search-content__ {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}



/* ===== END NAVBAR SECTION ===== */

/* ===== HERO SECTION ===== */

#hero-content-section {
    height: 500px;
    background-size: cover;
    background-position: center;
    /* background: var(--var-dark-primary); */
}

/* ===== END HERO SECTION ===== */

/* ===== SEARCH SECTION ===== */

.search-genre-wrapper {
    display: block;
    width: 170px;
    height: 170px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

.contentContainer {
    display: block;
    width: 210px;
    position: relative;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    border-radius: 4px;
}

.contentContainer .card_front {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 4;
    height: 100%;
    transition: .3s;
}

.contentContainer .card_front .info,
.contentContainer .card_back .info {
    position: absolute;
    left: 18px;
    top: 14px;
    width: 157px;
}

.contentContainer .card_front .info .subj,
.contentContainer .card_back .info .subj {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 157px;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.card_front .info .subj {
    color: var(--var-black-75);
}

.card_back .info .subj {
    color: white;
}

.contentContainer .card_front .info .grade-area {
    display: flex;
    color: var(--var-primary);
    margin-top: 3px;
}

.contentContainer .card_back .info .creator-name p {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    line-height: 1.2;
    margin-top: 3px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentContainer .card_back .info .content-desc p {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: white;
    line-height: 1.2;
    margin-top: 3px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentContainer .card_front .info p {
    font-size: 14px;
}

.contentContainer:hover .card_front {
    opacity: 0;
}

.contentContainer .card_back {
    background-color: #df5954;
    height: 210px;
    width: 210px;
}

.contentContainer .title-mid>h6 {
    line-height: 1.2;
    font-size: 14px;
    color: var(--var-black-75);
    font-weight: 500;
}

.contentContainer .title-mid>h6:hover {
    text-decoration: underline !important;
}

.card_front .content_genre {
    position: absolute;
    bottom: 1px;
    left: 18px;
    line-height: 16px;
    font-size: 13px;
    color: var(--var-primary);
}


/* ===== END SEARCH SECTION ===== */


/* ===== KOMIK SECTION ===== */

.wrapper-banner-content {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 320px;

    >.detail_content {
        margin: 0 100px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        >.info .title {
            mix-blend-mode: difference;
            font-size: 45px;
            font-weight: 400;
            width: 600px;
            line-height: 1;
        }

        >.info .genre {
            mix-blend-mode: difference;
            color: var(--var-dark-primary);
            font-size: 18px;
            font-weight: 400;
        }

        >.info .creator {
            font-weight: 300;
            font-size: 17px;
            mix-blend-mode: difference;
            letter-spacing: 0.7px;
        }

    }

}

.nav.nav-pills.list .nav-item a:hover {
    color: var(--var-primary) !important;
}

.nav.nav-pills.list .nav-item .nav-link.active {
    color: var(--var-primary) !important;
}

.title-chapter-limit {
    width: 330px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.detail_content .thumb {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.detail_list_content {
    width: 100%;
}

.left-content-list .list .favorit button:hover {
    background: var(--var-dark-primary);
    color: white;
    border-color: var(--var-dark-primary) !important;
}

.left-content-list .list .favorit button:hover>img {
    filter: brightness(0) invert(1);
}

.left-content-list .list .favorit button img {
    filter: brightness(0) invert(0.4);
}

.left-content-list .list .favorit .btn-favorit.active img {
    filter: none;
}

.left-content-list .list .favorit .btn-favorit.active:hover img {
    filter: brightness(0) invert(1);
}

.detail_list_content .content {
    width: 100%;
    position: relative;
    background: #fff;
    min-height: 839px;
    top: -70px;
}

.pills-tab-chapter .pagination-wrapper {
    position: absolute;
    right: 50%;
    bottom: 30px;
    transform: translateX(50%);
}

.detail_list_content .content .row .left-content-list {
    min-height: 839px;
    position: relative;
}

.detail_list_content .content .row .left-content-list .line {
    width: 100%;
    background: #dfdfdf;
    margin-top: 20px;
    height: 1px;
}

.detail_list_content .content .row .left-content-list .list .list-content ul li {
    padding: auto 20px;
    background-color: white;
}

.detail_list_content .content .row .left-content-list .list .list-content ul li:hover {
    background-color: #fcfcfc;
}

.detail_list_content .content .row .left-content-list .list .list-content ul a {
    text-decoration: none;
}

.detail_list_content .content .row .right-content-list {
    border-left: 1px solid #dfdfdf;
    min-height: 839px;
}


/* ===== END KOMIK SECTION ===== */

/* ===== READ VIEW SECTION ===== */

.navbar-control-page {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333333;
    transition: 0.8s;
    z-index: 90;
    opacity: 1;
}

.navbar-control-page.hide {
    opacity: 0;
    transition: 0.8s;
}

.navbar-control-page .nav-control {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-control-page .nav-control .left a,
.navbar-control-page .nav-control .right a {
    border: 1px solid #141414;
}

.navbar-control-page .nav-control .left a:hover,
.navbar-control-page .nav-control .right a:hover {
    background-color: #212529 !important;
}

.wrapper-img-content .img-content {
    text-align: center;
    user-select: none;
}

.wrapper-img-content .img-content img {
    width: 800px;
    user-select: none;
}

.footer-content-chapter {
    margin-top: 160px;
    margin-bottom: 50px;
}

.report-value {
    accent-color: var(--var-primary) !important;
}


/* ===== END READ VIEW SECTION ===== */


/* ===== FOOTER SECTION ===== */

footer {
    margin-top: 60px;
    background-color: #F8F9FA;
}

/* ===== END FOOTER SECTION ===== */

@media only screen and (max-width: 991px) {

    .search-genre-wrapper {
        width: 160px;
        height: 160px;
    }
}

@media only screen and (max-width: 767px) {

    .search-genre-wrapper {
        width: 110px;
        height: 110px;
    }

    .wrapper-img-content .img-content img {
        width: 100% !important;
    }


}