/* ALL USER  */



/* END ALL USER  */


/* ===== AUTHENTICATION SECTION =====  */

.btn-submit {
    padding: 13px 0 ;
}

#carouselBannerAuth{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    
}

.label-auth::before {
    content: '';
    position: absolute;
    width: 27%;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: #eaeaea;
}

.label-auth::after {
    content: '';
    position: absolute;
    background-color: #eaeaea;
    width: 27%;
    height: 2px;
    right: 0;
    top: 50%;
}

.circle{
    width: 13px;
    height: 13px;
    background-color: #454545;
    border-radius: 50%;
    margin-left: 15px;
    animation: moveRight 1s linear infinite;
    margin-bottom: 20px
}

.cirle-2 {
    animation-delay: -0.2s;
}

.cirle-3 {
    animation-delay: -0.4s;
}

@keyframes moveRight {
    0% {
        transform: translateY(5px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(15px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(5px);
    }
}

/* ===== END AUTHENTICATION SECTION =====  */