body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --var-gray: #565656; 
    --var-primary: #ef6864; 
    --var-soft-primary: #f49a97; 
    --var-dark-primary: #df5954; 
    --var-dark: #3b3f58;
    --var-black-75: #333333;
    --var-black-50: #5f5f5f;
}

/* CUSTOM CLASS CSS ALL  */

.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}

.fs-sm {
    font-size: 13.8px !important;
    letter-spacing: 0.2px;
}

hr {
    opacity: 13% !important;
}

.border-primary {
    border: 1px var(--var-primary) solid !important;
}

ul {
    list-style-type: none;
}

th {
    white-space: nowrap;
}

td {
    font-size: 14px !important;
}

th {
    color: var(--var-black-75) !important;
    font-weight: 500 !important;
}

.max-content {
    width: max-content !important;
}

.cursor-pointer {
    cursor: pointer;
}

.stepper {
    background: var(--var-black-50);
    border-radius: 1500px;
    padding: 15px 25px;
    color: white;
    position: relative;
}

.stepper.active {
    background: var(--var-primary) !important;
}

.bg-semi-gray {
    background: #f4f4f4 !important;
}

.form-control:disabled {
    background-color: #fcfcfc !important;
}

.text-primary {
    color: var(--var-primary) !important;
}

.btn.btn-primary {
    background: var(--var-primary) !important;
}

.btn.btn-primary:focus {
    background: var(--var-primary) !important;
}

.border-bottom-white {
    border-bottom: 1px solid white !important;
}

.w-90 {
    width: 90%;
}

.square_thumbnail_show {
    height: 230px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    position: relative;
    border-radius: 4px;
}

.square_thumbnail_show .imagePreview {
    width: 230px;   
    height: 230px;
    position: absolute;
    border-radius: 4px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    background-position: center;
}

.max-input-text {
    z-index: 10;
    position: absolute;
    top: 45px;
    right: 20px;
}

.pe-10 {
    padding-right: 6rem !important;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
}

.badge {
    width: max-content !important;
    padding: 7px 15px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 15px;
}

.badge-danger {
    color: #de2626;
    background: #fee2dc;
}

.badge-success {
    color: #15bd34;
    background: #e8fedc;
}

.badge-confirmed {
    color: #bd8b15;
    background: #fefddc;
}

.fs-s-sm {
    font-size: 12px !important;
    letter-spacing: 0.2px;
}

.bg-primary {
    background: var(--var-primary) !important;
}

.bg-dark {
    background-color: var(--var-black-75) !important;
}

.progress-bar {
    background-color: var(--var-primary) !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; 
}

.text-gray {
    color: var(--var-black-50) !important;
}

.text-dark, .color-dark {
    color: var(--var-dark) !important;
}

.form-control:focus, .form-check-input:focus, .form-select:focus {
    box-shadow: none;
    border-color: var(--var-soft-primary) !important;
}

input[type="checkbox"]:checked {
    border-color: var(--var-soft-primary) !important;
    background-color: var(--var-primary); 
}

.scrollbar-thin::-webkit-scrollbar {
    height: 6px !important; 
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    border-radius: 20px !important;
    background-color: var(--var-primary); 
}

.form-check-inp {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    float: left;
    margin-left: -1.5em;
    vertical-align: top;
    accent-color: var(--var-primary) !important;
}

.form-control, .form-select {
    padding: 11px 17px;
}

.alert {
    display: flex;
    align-items: center;
    border: none;
}

.alert.alert-danger {
    color: #e83434;
    background: #fee2dc;
}

.alert.alert-success{
    color: #1fcf25;
    background: #defedc;
    transform: translateY(-110%);
    justify-content: center;
    animation: slideInDown 5s ease-in-out;
}

.dropdown-menu {
    min-width: 15rem !important;
    box-shadow: 0 0.2rem 1rem #00000014;
}

.ellipsis-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12ch; 
}

.one-line-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-decoration: none;  
}

.two-line-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-decoration: none;  
}

.dropdown-item:active {
    background: var(--var-primary);
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}


/* END CUSTOM CLASS CSS ALL  */



/* BOOK SECTION  */

.form-check.genre {
    width: 100px !important;
}

.file-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border: 1px var(--var-black-50) solid;
    cursor: pointer;
    position: relative;
}

#imagePreview {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

/* END BOOK SECTION  */

/* TRANSAKSI SECTION  */

input.jumlah-barang::-webkit-inner-spin-button, input.jumlah-barang::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* END TRANSAKSI SECTION  */


/* @media only screen and (max-width: 991px) {

    body {
    }

    td {
        white-space: nowrap;
    }


}